<div
  class="flex max-w-[70rem] cursor-pointer items-center gap-4 border border-green px-7 py-5"
>
  <div class="min-w-[10%]">
    <img
      class="aspect-square max-h-[8rem]"
      src="https://th.bing.com/th/id/R.024b85a216911318541cda029aa016d4?rik=2im90toF2EyI%2fg&pid=ImgRaw&r=0"
      alt=""
    />
  </div>
  <div class="w-4/5 text-left text-b-2">
    <h5 class="mb-4 text-h-md">dolor sit amet consectetur</h5>
    Lorem ipsum dolor ates officia, voluptatibus voluptate quo, blanditiis quam!
    Fugiat quas nemo aspernatur quo, commodi perferendis earum obcaecati in veritatis,
    ut, sunt voluptatum! Fugiat vero hic vitae libero quasi numquam maxime id totam
    explicabo? Possimus perspiciatis ipsam blanditiis mollitia dignissimos incidunt
    vero velit unde harum dolor repudiandae nulla, architecto, a ut, illum molestias!
  </div>
</div>
