---

const {post,url ,index} = Astro.props
console.log(post)

---

<a href={url}>
<div
  class="flex max-w-[50rem] cursor-pointer items-center gap-4 border-b border-b-green/20  pb-3"
>
  <div class="w-4/5 text-left text-b-2">
    <h5 class="mb-4 text-b-2 font-bold text-green/60">{index + 1}: {post.data.title}</h5>
   <p class="text-b-3 leading-6">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, velit. Debitis tempore laborum, temporibus laudantium doloribus incidunt culpa quae corporis magnam cumque vitae similique in obcaecati esse fugit eos autem.
   </p>
  </div>
  <div class="min-w-[10%]">
    <img
      class="aspect-square max-h-[8rem]"
      src={post.data.heroImage}
      alt=""
    />
  </div>

</div>
</a>