---
const { post, url, index } = Astro.props;
---

<a href={url}>
  <div
    class="blog-card flex max-w-[50rem] cursor-pointer flex-col items-center gap-4 border-b border-b-green/20 pb-3 sm:flex-row"
  >
    <div class="order-2 w-full text-left text-b-2 sm:order-1 sm:w-4/5">
      <h5 class="mb-4 text-b-2 font-bold text-green/60">
        {index + 1}: {post.data.title}
      </h5>
      <p class="text-b-3 leading-6">
        {post.data.short}
      </p>
    </div>
    <div class="order-1 min-w-[10%] sm:order-2">
      <img class="max-h-[8rem]" src={post.data.heroImage} alt="" />
    </div>
  </div>
</a>
