@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap");

:root {
  --max-hero-h: max(115vh, 61.6875rem);
}

.inter {
  font-family: "Inter", sans-serif;
}
@layer base {
  html {
    @apply scroll-smooth;
  }

  @font-face {
    font-family: "SFMono";
    src:
      url("/fonts/SFMono/SFMono-medium.ttf")
        url("/fonts/SFMono/SFMono-regular.ttf"),
      url("/fonts/SFMono/SFMono-semibold.ttf");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Calibre";
    src:
      url("/fonts/Calibre/Calibre-light.ttf")
        url("/fonts/Calibre/Calibre-medium.ttf")
        url("/fonts/Calibre/Calibre-regular.ttf"),
      url("/fonts/Calibre/Calibre-semibold.ttf");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Prompt";
    src:
      url("/fonts/Prompt/Prompt-Black.ttf")
        url("/fonts/Prompt/Prompt-Light.ttf")
        url("/fonts/Prompt/Prompt-Medium.ttf")
        url("/fonts/Prompt/Prompt-Regular.ttf"),
      url("/fonts/Prompt/Prompt-semibold.ttf"),
      url("/fonts/Prompt/Prompt-Bold.ttf");
    font-style: normal;
    font-display: swap;
  }
}

@layer utilities {
  .heading-huge {
    @apply text-h-huge tracking-[-1.2px] lg:tracking-[-1.92px];
  }
  .heading-2xl {
    @apply text-h-2xl tracking-[-0.8px] lg:tracking-[-1.2px];
  }
  .heading-xl {
    @apply text-h-xl font-medium leading-[110%] md:leading-[100%];
  }

  .heading-lg {
    @apply text-h-lg tracking-[-0.48px] lg:tracking-[-0.72px];
  }
  .heading-md {
    @apply text-h-md;
  }
  .heading-sm {
    @apply text-[0.75rem] leading-[107%] tracking-[0.375rem] md:text-[1rem] md:tracking-[0.5rem];
  }

  .body-1 {
    @apply text-b-1;
  }
  .body-2 {
    @apply text-b-2;
  }
  .body-2-bold {
    @apply text-b-2 font-bold lg:font-medium;
  }
  .body-3 {
    @apply text-b-3;
  }
  .body-4 {
    @apply text-b-4;
  }
  .gradient-text-teal-pink-purple {
    @apply bg-gradient-teal-pink-purple bg-clip-text text-transparent;
  }
  .title-text {
    @apply text-base font-bold uppercase leading-relaxed tracking-[8px];
  }
  .small-title {
    @apply font-inter text-title font-bold uppercase text-blue-deep;
  }
  .scroll-upward {
    @apply py-4;
  }
  .scroll-downward {
    @apply py-6;
  }
  .nav-shadow {
    @apply shadow-lg;
  }
  .s-f-nav {
    @apply text-b-3;
  }
  .b-f-nav {
    @apply text-b-2;
  }
}

@layer components {
  .main-gradient-border::before {
    position: absolute;
    content: "";
    inset: 0;
    background: rgb(42, 36, 109);
    background: linear-gradient(
      180deg,
      rgba(42, 36, 109, 1) 0%,
      rgba(148, 79, 235, 1) 0%,
      rgba(252, 101, 0, 1) 100%
    );
    opacity: 0;
    transition: opacity 0.25s linear;
    border-radius: 0.5rem;
  }

  .cta-section:hover .main-gradient-border::before {
    opacity: 1;
  }
}
