<div
  id="contact"
  class="main-section flex min-h-[90vh] w-full items-center justify-center font-sans"
>
  <div>
    <h2 class="mb-6 font-sans text-h-huge font-bold text-lightest-slate">
      Get In Touch
    </h2>
    <p class="max-w-[40rem] text-b-2">
      I am currently looking for any new opportunities, my inbox is always open.
      Whether you have a question or just want to say hi, I’ll try my best to
      get back to you!
    </p>
    <div class="mt-10 flex flex-col items-center justify-center gap-4">
      <span class="text-h-sm"> Say Hello On Whatsapp</span>
      <a href="https://wa.me/01864682913" target="_blank">
        <img src="/icons/whatsapp.png" class="h-10" alt="" />
      </a>
    </div>
  </div>
</div>
