---
import WorkSlider from "./workSlider.svelte";
---

<section id="jobs" class="main-section min-h-[50vh] w-full  px-6">
  <div class="mx-auto h-auto max-w-[50rem] text-left">
    <h3 class="pb-2 text-h-md">
      Where I worked at ? <span class="text-[10px] text-green"
        >______________________
      </span>
    </h3>
    <div class="slider">
      <WorkSlider client:idle />
    </div>
  </div>
</section>
