---
import WorkSlider from "./workSlider.svelte";
---

<section id="jobs" class="main-section min-h-[50vh] flex justify-center w-full px-6">
  <div class=" h-auto w-[50rem] text-left">
    <h3 class="pb-2 text-h-md">
      Where I worked at ? <span class="text-[10px] text-green"
        >______________________
      </span>
    </h3>
    <div class="slider w-full">
      <WorkSlider client:idle />
    </div>
  </div>
</section>
