---
import WorkSlider from "./workSlider.svelte";

---

<section id="jobs" class="main-section min-h-screen w-full">
  <div class="mx-auto h-auto max-w-[50rem] text-left">
    <h3 class="text-h-md pb-12">
      I have worked at <span class="text-[10px] text-green"
        >______________________
      </span>
    </h3>
    <div class="slider">
      <WorkSlider client:idle />
    </div>
  </div>
</section>
