<!-- after user visit in my website, after some seconds, there will be kind of alert right bottom to download the resume -->
<script>
  document
    .getElementById("resume-download-button")
    ?.addEventListener("click", function () {
      downloadResume();
    });

  const downloadResume = () => {
    let pdfFilePath = "/resume.pdf";
    let link = document.createElement("a");
    link.href = pdfFilePath;
    link.download = "resume.pdf";
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  };
</script>
<div
  class="download-alert fixed bottom-10 right-10 z-20 rounded-md border border-green/20 px-4 py-2 text-b-3 shadow-md text-zinc-200"
>
  Download my
  <button
    id="resume-download-button"
    class="ml-1 rounded-sm border border-green/50 px-3 py-1"
  >
    Resume
  </button>
</div>
