---
import Card from "@/components/layout/blog/card.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("articles");
---

<script>
  import { gsap } from "gsap";

  import { createTimeline, fadeInAndSlideInFromX } from "@/helper/gsap";

  gsap.utils.toArray(".blog-card").forEach((blogCard, i) => {
    const tl = createTimeline(blogCard as HTMLElement);

    tl.add(
      fadeInAndSlideInFromX(blogCard as HTMLElement, 300, (0.5 * (i + 1)) / 2),
    );
  });
</script>

<Layout title="Articles">
  <main class="w-full bg-dark-navy">
    <section
      class="w-full bg-dark-navy pb-20 text-center text-8xl text-white sm:w-3/4 sm:pb-40"
    >
      <div
        class="mx-auto flex min-h-screen max-w-[51rem] flex-col gap-y-4 px-10 pt-20 xl:px-0"
      >
        {
          allPosts.map((post, index) => (
            <Card post={post} index={index} url={`/articles/${post.slug}/`} />
          ))
        }
      </div>
    </section>
  </main>
</Layout>
