---
import Card from "@/components/layout/blog/card.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";


const allPosts = await getCollection("posts");
console.log(allPosts)
---

<Layout title="Anir.me/blog">
  <main class="text-center text-8xl text-white">
    <div class="min-h-screen pt-20">
       {
      allPosts.map((post) => (
        <Card post={post} url={`/blogs/${post.slug}/`}/>

      ))
    }
    </div>
  </main>
</Layout>


