---
import Hero from "@/components/layout/home/hero.astro";
import Layout from "../layouts/Layout.astro";
// import Alert from "@/components/common/alert/alert.astro";
import About from "@/components/layout/home/about.astro";
import Experience from "@/components/layout/home/experience/experience.astro";
import Projects from "@/components/layout/home/projects/projects.astro";
import Contact from "@/components/layout/home/contact/contact.astro";
---

<Layout title="Aanir.com">
  <main class="text-center text-8xl text-white">
    <Hero />
    <About />
    <Experience />
    <Projects />
    <Contact />
    <!-- <Alert /> -->
  </main>
</Layout>

<style>
  #projects:target {
    color: red;
  }
</style>
