---
import Hero from '@/components/layout/home/hero.astro';
import Layout from '../layouts/Layout.astro';
import Alert from '@/components/common/alert/alert.astro';
import About from '@/components/layout/home/about.astro';
---

<Layout title="Anir.me">

	<main class="text-8xl text-white text-center">
		<Hero/>
		<About/>
		<div id='jobs' class="w-full main-section min-h-screen flex justify-center items-center border border-gray-100">
			Experience
		</div>
		<div id='projects' class="w-full main-section min-h-screen flex justify-center items-center border border-gray-100">
			Work
		</div>
		<div id="contact" class="w-full main-section min-h-screen flex justify-center items-center border border-gray-100">
			Contact
		</div>
		<Alert/>
	</main>
</Layout>

<style>
  #projects:target {
    color: red;
  }
</style>
