---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Anir.me">
	<main class="text-8xl text-white text-center">
		<div id='hero' class="w-full min-h-screen flex justify-center items-center border border-gray-100">
			hero
		</div>
		<div id='about' class="w-full min-h-screen flex justify-center items-center border border-gray-100">
			About
		</div>
		<div id='jobs' class="w-full min-h-screen flex justify-center items-center border border-gray-100">
			Experience
		</div>
		<div id='projects' class="w-full min-h-screen flex justify-center items-center border border-gray-100">
			Work
		</div>
		<div id="contact" class="w-full min-h-screen flex justify-center items-center border border-gray-100">
			Contact
		</div>

	</main>
</Layout>
