<section id="jobs" class="main-section min-h-screen w-full">
  <div class="mx-auto h-auto max-w-[50rem] text-left">
    <h3 class="text-h-md">
      I have worked at <span class="text-[10px] text-green"
        >______________________
      </span>
    </h3>
    <div></div>
  </div>
</section>
