<header id='hero' class="w-full main-section min-h-screen flex justify-center items-center border border-gray-100">
    
			<div>
                <h5>Hi, I am abu bakkar anir</h5>

            </div>
	
</header>