---
import Project from "./project.astro";
const projects = [
  {
    title: "Otterdev site",
    thumbnail: "/projects/otterdev/otterdev.png",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat velit laborum amet fugit nihil quas eaque qui libero reprehenderit similique consectetur ex obcaecati laudantium, iusto exercitationem atque doloremque labore. Odio!",
    technologies: ["Astro", "Svelte", "Sanity", "Gsap"],
    github: null,
    live: "otterdev.io",
  },
  {
    title: "Otterdev site",
    thumbnail: "/projects/otterdev/otterdev.png",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat velit laborum amet fugit nihil quas eaque qui libero reprehenderit similique consectetur ex obcaecati laudantium, iusto exercitationem atque doloremque labore. Odio!",
    technologies: ["Astro", "Svelte", "Sanity", "Gsap"],
    github: null,
    live: "otterdev.io",
  },
  {
    title: "Otterdev site",
    thumbnail: "/projects/otterdev/otterdev.png",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat velit laborum amet fugit nihil quas eaque qui libero reprehenderit similique consectetur ex obcaecati laudantium, iusto exercitationem atque doloremque labore. Odio!",
    technologies: ["Astro", "Svelte", "Sanity", "Gsap"],
    github: null,
    live: "otterdev.io",
  },
  {
    title: "Otterdev site",
    thumbnail: "/projects/otterdev/otterdev.png",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat velit laborum amet fugit nihil quas eaque qui libero reprehenderit similique consectetur ex obcaecati laudantium, iusto exercitationem atque doloremque labore. Odio!",
    technologies: ["Astro", "Svelte", "Sanity", "Gsap"],
    github: null,
    live: "otterdev.io",
  },
  {
    title: "Otterdev site",
    thumbnail: "/projects/otterdev/otterdev.png",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat velit laborum amet fugit nihil quas eaque qui libero reprehenderit similique consectetur ex obcaecati laudantium, iusto exercitationem atque doloremque labore. Odio!",
    technologies: ["Astro", "Svelte", "Sanity", "Gsap"],
    github: null,
    live: "otterdev.io",
  },
  {
    title: "Otterdev site",
    thumbnail: "/projects/otterdev/otterdev.png",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat velit laborum amet fugit nihil quas eaque qui libero reprehenderit similique consectetur ex obcaecati laudantium, iusto exercitationem atque doloremque labore. Odio!",
    technologies: ["Astro", "Svelte", "Sanity", "Gsap"],
    github: null,
    live: "otterdev.io",
  },
];
---

<script></script>
<div class="card-container mb-16 mt-16 flex flex-col gap-y-8">
  {projects.map((project) => <Project {project} />)}
</div>

<style>
  .card-container {
    /* display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px; */
  }
</style>
