---
import Project from "./project.astro";
const projects = [
  {
    title: "Otterdev website",
    thumbnail: "/projects/otterdev/otterdev.png",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat velit laborum amet fugit nihil quas eaque qui libero reprehenderit similique consectetur ex obcaecati laudantium, iusto exercitationem atque doloremque labore. Odio!",
    technologies: ["Astro", "Svelte", "Sanity", "Gsap"],
    github: null,
    live: "otterdev.io",
  },
  {
    title: "Anytech website",
    thumbnail: "/projects/otterdev/anytech.png",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat velit laborum amet fugit nihil quas eaque qui libero reprehenderit similique consectetur ex obcaecati laudantium, iusto exercitationem atque doloremque labore. Odio!",
    technologies: ["Astro", "Svelte", "Sanity", "Gsap"],
    github: null,
    live: "otterdev.io",
  },
];
---

<script></script>
<div class="card-container mb-16 mt-16 flex flex-col gap-y-8">
  {projects.map((project) => <Project {project} />)}
</div>
