---
import IndividualProjectsContainer from "./IndividualProjectsContainer.astro";
---

<section id="projects" class="main-section flex min-h-[80vh] w-full py-16">
  <div class="mx-auto h-auto w-[60rem] text-left">
    <h3 class="pb-2 text-left text-h-md">
      Projects I worked at ? <span class="text-[10px] text-green"
        >______________________
      </span>
    </h3>

    <IndividualProjectsContainer />
    <div>
      <a href="/projects-archive" class="flex gap-2 items-center">
          <span class="text-b-2">
          View projects archive 
        </span>
        <img src="/icons/rightarrow.svg" class="h-6 w-6" alt="right arrow" />
      
      </a>
    </div>
  </div>
</section>

<style>
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
</style>
