    <div
      id="projects"
      class="main-section  flex min-h-[80vh] w-full "
    >
        <div class="mx-auto h-auto max-w-[60rem] text-left">
     <h3 class="text-h-md pb-2 text-left">
      Projects I worked at ? <span class="text-[10px] text-green"
        >______________________
      </span>
    </h3>

        </div>
    </div>