---
import IndividualProjectsContainer from "./IndividualProjectsContainer.astro";
---

<section
  id="projects"
  class="main-section inter flex min-h-[80vh] w-full px-6 py-16"
>
  <div class="mx-auto h-auto w-[60rem] text-left">
    <h3 class="pb-2 text-left text-h-md">
      Projects I worked at ? <span class="text-[10px] text-green"
        >______________________
      </span>
    </h3>

    <IndividualProjectsContainer />
    <div>
      <a
        href="/projects-archive"
        class="flex items-center gap-2 text-white hover:text-green"
      >
        <span class="inter text-b-3"> View projects archive</span>
        <img src="/icons/rightarrow.svg" class="h-4 w-4" alt="right arrow" />
      </a>
    </div>
  </div>
</section>

<style>
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
</style>
