<footer class="fle flex h-10 w-full items-center border-t border-green/10">
  <div class="mx-auto flex min-w-max items-center gap-x-20">
    <p class="inter text-b-3 text-white">
      Built by <a href="/" class="text-green">Aniuzzaman anir</a>
    </p>
    <ul class="flex gap-x-3">
      <li>
        <a href="">
          <img src="/icons/twitter.png" class="w-5" alt="" />
        </a>
      </li>
      <li>
        <a href="">
          <img src="/icons/linkedin.png" class="w-5" alt="" />
        </a>
      </li>
      <li>
        <a href="">
          <img src="/icons/github.png" class="w-5" alt="" />
        </a>
      </li>
    </ul>
  </div>
</footer>
