---
import { config } from "../../configurations/config";
---

<nav class="w-full px-12 py-4">
  <div class="flex justify-between items-center">
    <div>
      <!-- <Logo/> -->
      <h4 class="text-h-lg text-lightest-slate">AA</h4>
    </div>  
    <ul class="flex gap-x-5 ">
      {config.navLinks.map((link) => <ol class="text-light-slate text-h-sm font-sfmono font-extralight"> <a href={link.url}>{link.name}</a></ol>)}
    </ul>
  </div>
</nav>
