---
import Navbar from "../components/common/navbar.astro";
import Footer from "../components/common/footer.astro";
import HashLink from "../components/common/hash-link/hashLink.svelte";
import "../styles/global-style.css";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script>
  const body = document.querySelector("body") as HTMLBodyElement;
  body.addEventListener("mousemove", (e) => {
    const x = (e as MouseEvent).clientX;
    const y = (e as MouseEvent).clientY;

    body.style.setProperty("--centerX", `${x}px`);
    body.style.setProperty("--centerY", `${y}px`);
  });
</script>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
      <ViewTransitions />
  </head>
  <body class="relative bg-navy" transition:animate="slide">
    <Navbar />
    <!-- <div id="layer" class="absolute inset-0"></div> -->
    <HashLink client:idle />
    <slot />
    <Footer />
  </body>
</html>

<style>
  #layer {
    z-index: 1000;
    background: radial-gradient(
      550px circle at var(--centerX) var(--centerY),
      rgba(29, 32, 75, 0.7),
      transparent 40%
    );
    z-index: 3;
    opacity: 1;
    transition: opacity 500ms;
  }
</style>
